@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.empty_basket{
    display: grid;
    grid-template-rows: 300px 50px 40px 40px;
    margin-top: 30px;
    margin-bottom: 70px;
}
@media screen and (max-width: 376px){
    .empty_basket{
        justify-content: center;
        grid-template-rows: 300px 60px 60px 40px;
        padding-right: 20px;
        padding-left: 20px;
     }
 }


.empty_basket_photo{
    display: flex;
    justify-content: center;
}
.empty_basket_heart{
    width: 370px;
    height: 300px;
}

.empty_basket_title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #193DB0;
}
@media screen and (max-width: 500px){
    .empty_basket_title{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
     }
}
@media screen and (max-width: 376px){
    .empty_basket_title{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
     }
 }

.empty_basket_text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
.empty_basket_text p{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    text-align: center;
    color: #86705A;
    margin: 0;
}

.empty_basket_btn{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.start_shopping_btn{
    background-color: #193DB0;
    color: white;
    font-size: 15px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}




.basket_page{
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr;
    padding-left: 80px;
    padding-right: 80px;
    min-height: 70vh;
}
@media screen and (max-width: 1250px){
    .basket_page{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 400px;
    }
    
}
@media screen and (max-width: 750px){
    .basket_page{
        padding-left: 20px;
        padding-right: 20px;
    }  
}

.basket_page_items {  
    text-align: start;
    display: grid;
    grid-template-rows: 80px 1fr;
}
.basket_page_items p{
    align-self: center;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
.basket_page_summarybox{
    display: grid;
    grid-template-rows: 50px 30px 30px 40px 75px;
    background-color: #F8F8F8;
    width: 400px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
}
@media screen and (max-width: 376px){
    .basket_page_summarybox{
        width: 335px;
        margin-left: 0px;
    } 
}

.basket_page_summarybox_title {
    display: flex;
    align-items: flex-end;
    text-align: start;
    padding-bottom: 10px;
    padding-left: 15px;
}
.basket_page_summarybox_title h3{
    margin: 0;
    text-transform: uppercase;
    color: #555555;
}


.basket_page_summarybox_totalarticles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Open Sans', sans-serif;
}
.basket_page_summarybox_totalarticles p{
    margin: 0;
}
.basket_page_summarybox_subtotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
    color: #555555;
}
.basket_page_summarybox_subtotal p{
    margin: 0;
}
.basket_page_summarybox_total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: #1F49B6;
}

.basket_page_summarybox_total p{
    margin: 0;
    text-transform: uppercase;
}
.basket_page_summarybox_payment{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E0E0E0;
}
.basket_page_summarybox_payment button{
    width: 360px;
    height: 45px;
    background-color: #193DB0;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}
@media screen and (max-width: 376px){
    .basket_page_summarybox_payment button{
        width: 335px;
    } 
}
